@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
  --color-plateShare:#ba692b;
}

.btn-primary{
  @apply bg-gradient-to-r from-[#fab158] to-[#d56c46] border-none text-white;
}
.btn-primary:hover{
  @apply opacity-90;
}
*{
  font-family: "Quicksand", sans-serif;
 
}